@*@using Vidly.Models*@
@*@model Vidly.Models.Movie*@
@*@model Vidly.ViewModels.RandomMovieViewModel*@

@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@


@*<h2>@( ((Movie)ViewData["Movie"]).Name) </h2>*@

@*@ViewBag.Movie*@

@*
    This is Multiline Commnet
*@

@*@{
        var ClassName = Model.Customers.Count > 5 ? "poplar" : null;

    }

    <h2 class=@ClassName>@Model.Movie.Name</h2>


    @if (Model.Customers.Count == 0)
    {
        <text>No one has rented this movie before.</text>
    }
    else
    {
        <ul>
            @foreach (var Customer in Model.Customers)
            {
                <li>@Customer.Name </li>
            }
        </ul>
    }*@

@*@foreach (var movie in Model)
    {
        <ul>
            <li>
                @movie.Name
            </li>
        </ul>
    }*@

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>


@if (!Model.Any())
{
    <p>We don't have any Movies yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Movie.Name, "Edit", "Movies", new { id = Movie.Id }, null)
                    </td>
                    <td>@Movie.Genre.Name</td>
                </tr>
            }
        </tbody>

    </table>
}